spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cache:
    type: redis
  application:
    name: Dictionary-Application
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8082

logging:
  level:
    org.springframework.cache: DEBUG