spring:
  application:
    name: dictionary
  datasource:
    url: jdbc:postgresql://postgres:5432/dictionary
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: redis

  data:
    redis:
      host: redis
      port: 6379

server:
  port: 8080

logging:
  level:
    org.springframework.cache: DEBUG
